---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SOCIALS } from "@config";

import { Icon } from 'astro-icon/components';

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <!-- delete below after placing images -->

      <!-- <div class="size-full bg-black h-40 flex items-center justify-center text-white">
        
        [ image slot ]
      </div> -->
      <strong><em>Tinker...Tailor...Solder...Try </em></strong>
      <p>
        Hi! I'm Jared Taylor, a designer, developer and maker with over 20 years of experience. This is selection of case studies combining a variety of overlapping disciplines including web design, graphic design, UI/UX, e-commerce, marketing, electronics, animation, parametric CAD and 3D modeling. 
      </p>
      <small><em>
        Not every project works out but I'm always learning and trying new things. My latest obsession is learning Blender and Geometry Nodes so I can produce renders and animations for my custom furniture side-hustle.</em>
      </small>  

      <!-- <Icon name="jt" class="tilted scale-0 transition-all origin-[left_center] duration-500 md:ml-2 icon-shadow"/> -->
      <!-- <p>
        Read the blog posts or check
        <LinkButton
          className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
          href="https://github.com/satnaing/astro-paper#readme"
        >
          README
        </LinkButton> for more info.
      </p> -->
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Socials:</div>
            <Socials />
          </div>
        )
      }
     
    </section>
    
    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent Posts</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < 4 && (
                  <Card
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="/posts/">
        All Posts
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
  </main>
  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero, #more-about {
    @apply pb-6 pt-8;
  }
  #hero h1, #more-about h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-2xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p, #more-about p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 font-bold whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }

  .loop-count {
    animation-delay: 3s !important;
    animation-iteration-count: 10 !important;
  }

  .underline {
    display: inline-block;
    width: 60px;
    border-bottom: 2px solid;
    margin-right: .25em;
    position: relative;
    bottom: -.1em;
  }
</style>
